# Exclude build artifacts
bin/
obj/

# Exclude source control and IDE settings
.git/
.gitignore
.vs/
.vscode/

# Exclude local Docker files
Dockerfile
.dockerignore

# Exclude logs and temp files
*.log
